@import url('https://fonts.googleapis.com/css?family=Poller+One');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: yellow;
  font-size: 30px;
  font-family: 'Poller One';
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  background-image: url("../../public/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/* Mobile */
@media (max-width: 700px) {
  * {
    font-size: 15px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  * {
    font-size: 25px;
  }
}